@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-rgb: 75 85 99 / 80%;
    --input-rgb: 17 24 39 / 0.5;
    --text-color-primary-rgb: 243 244 246 / var(--tw-text-opacity);
  }

  input {
    color-scheme: dark;
    background-color: rgb(var(--input-rgb));
    color: rgb(var(--text-color-primary-rgb));
  }
}

.page-container {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-rgb));
}

@layer base {
  h1 {
    @apply text-lg font-semibold;
  }
  h2 {
    @apply text-sm font-normal;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }

  .input {
    height: 2.5em;
    border-radius: 0.5em;
    border: 1px solid rgb(31 41 55 / 0.5);
  }
}
